// element 样式补丁
.el-card {
  &.is-always-shadow {
    box-shadow: 0 0 8px 0 rgba(232, 237, 250, .6), 0 2px 4px 0 rgba(232, 237, 250, .5);
  }

  &.is-hover-shadow {
    &:hover {
      box-shadow: 0 0 8px 0 rgba(232, 237, 250, .6), 0 2px 4px 0 rgba(232, 237, 250, .5);
    }
  }
}

.el-row {
  .el-col {
    margin-bottom: 10px;
  }
}

// 菜单
.el-menu--popup {
  background: #fff !important;
  border-right: solid 1px #e6e6e6;

  * {
    color: #909399 !important;
  }
}

.el-menu-vertical-demo:not(.el-menu--collapse) {
  border-right: none;
  width: 200px;
  min-height: 400px;
}

.el_button {
  margin-bottom: 15px;
}

.el-menu--horizontal {
  border-bottom: none !important;
}

.el-tabs__item:focus.is-active.is-focus:not(:active) {
  box-shadow: none !important;
}

// 修复IE宽度不能撑满
.el-table__body,
.el-table__header {
  width: 100% !important;
}

// Chrome下表格头部错位修复
.el-table th.gutter,
.el-table colgroup.gutter {
  display: table-cell !important;
}

.el-select,
.el-range-editor--small.el-input__inner {
  width: 100%;
}

// 删除此刻
.el-picker-panel__footer .el-button--text.el-picker-panel__link-btn {
  display: none;
}

// 下拉框为tree。
.el-tree-select-option {
  height: auto;
  padding: 0;

  .el-tree-select-dropdown {
    .el-tree-node__label {
      font-weight: normal;
    }
  }
}

// 加载遮罩
.el-loading-mask {
  z-index: 99999;
}

// 去掉input数字箭头
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}

input[type='number'] {
  -moz-appearance: textfield !important;
}

.el-button.el-button--text {

  &:focus,
  &:hover {
    color: unset !important;
  }
}

.el-scrollbar__wrap {
  &::-webkit-scrollbar {
    display: none;
    width: 0 !important;
  }
}