// element 样式补丁
.el-card {
  &.is-always-shadow {
    box-shadow: 0 0 8px 0 rgba(232, 237, 250, .6), 0 2px 4px 0 rgba(232, 237, 250, .5);
  }

  &.is-hover-shadow {
    &:hover {
      box-shadow: 0 0 8px 0 rgba(232, 237, 250, .6), 0 2px 4px 0 rgba(232, 237, 250, .5);
    }
  }
}

.el-menu--horizontal {
  border-bottom: none !important;
}

.el-tabs__item:focus.is-active.is-focus:not(:active) {
  box-shadow: none !important;
}

// 修复IE宽度不能撑满
.el-table__body,
.el-table__header {
  width: 100% !important;
}

// Chrome下表格头部错位修复
.el-table th.gutter,
.el-table colgroup.gutter {
  display: table-cell !important;
}


// 下拉框为tree
.el-tree-select-option {
  height: auto;
  padding: 0;

  .el-tree-select-dropdown {
    .el-tree-node__label {
      font-weight: normal;
    }
  }
}


.el-select,
.el-cascader,
.el-date-editor.el-input,
.el-range-editor--small.el-input__inner {
  width: 100%;
}


// 加载遮罩
.el-loading-mask {
  z-index: 99999;
}

.el-icon {
  width: 20px;
  height: 20px;
  display: inline-block !important;
}

// 橫向滚动条影藏
.el-scrollbar {
  .el-scrollbar__wrap:not(.el-select-dropdown__wrap) {
    overflow-x: hidden;
    padding-bottom: 20px;
  }
}

.el-dropdown-link {
  margin-left: 10px;
  cursor: pointer;
  color: #409EFF;
}

.el-input-number {
  width: 100%;

  &.is-without-controls {
    .el-input__inner {
      text-align: left;
    }
  }
}

// 头像
.el-avatar>img{
  width: 100%;
  object-fit: contain !important;
}